@import "./base.css";

#app {
  font-weight: normal;
  font-family: 'Open Sans';
}

.summary-wrapper, .details-inner-wrapper, .footer-wrapper, .recipes, .recipes-nav, .breadcrumbs {
  max-width: 1280px;
  margin: 0 auto;
  padding: 30px;
}

